@use "../base/variables" as *;

.button {
	background-color: var(--bg-button);
	padding: 12px 32px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: var(--fw-bold);
	color: var(--text-accent-white);
	letter-spacing: 2px;
	margin-top: toRem(30px);
	cursor: pointer;

	&:active {
		background-color: var(--bg-button-hover);
	}
}

.button-open {
	position: relative;
	z-index: 9999;
	cursor: pointer;
}

.button-close {
	position: relative;
	z-index: 9999;
	display: none;
	cursor: pointer;
}