@use "../base/variables" as *;

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: toRem(25px) 0;
	max-height: 78px;
}

.secondary-nav {
	display: none;
	position: absolute;
	width: 250px;
	right: 0;

	&__list {
		height: 100vh;
		background-color: var(--bg-navbar);
		display: flex;
		flex-direction: column;
		gap: toRem(20px);
		padding-left: toRem(30px);
		padding-top: toRem(120px);
	}

	&__item {
		font-size: toRem(15px);
		color: var(--text-accent-dark);
		transition: color 0.2s linear;

		&:active {
			color: var(--text-accent-red);
		}
	}
}