@use "../base/variables" as *;

div.sidebar {
	margin-top: toRem(60px);
}

.sidebar {
	background-color: var(--bg-sidebar);
	padding: 30px 22px 0;

	&__heading {
		font-size: toRem(25px);
		color: var(--text-accent-orange);
	}

	&__item {
		padding: 30px 0;
		border-bottom: 1px solid var(--text-accent-white);

		&:last-of-type {
			border-bottom: none;
		}
	}

	&__title {
		color: var(--text-accent-white);
		margin-bottom: toRem(10px);
		display: block;
		transition: color 0.2s linear;

		&:active {
			color: var(--text-accent-orange);
		}
	}
}